@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/resets" as *;

.cats {
  &__names {
    @include fontRegular;
    color: $primary;
    margin-bottom: 0.5rem;
  }
  &__details {
    @include fontRegular;
  }

  &__card-container {
    margin-bottom: 2rem;
  }
  &__image {
    height: 200px;
    max-height: 432px;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
}
