@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/resets" as *;

.main {
  padding: 1rem 1rem 1rem 1rem;

  &__logo {
    background-image: url(https://res.cloudinary.com/maheshidevelopments/image/upload/c_pad,w_160,h_90,ar_16:9/v1724292835/kittyconnect-high-resolution-logo-transparent.png);
    background-size: cover;
    display: inline-block;
    width: 160px;
    height: 90px;
  }

  &__navbar {
    padding-top: 0;
    margin-top: 0;

    &__items {
      background-color: $background;
      justify-content: space-around !important;
    }

    &__links {
      color: $primary;
      text-decoration: none;
      @include fontRegular;
      text-transform: uppercase;
    }
  }

  &__hero {
    padding-top: 1rem 1rem 1rem 1rem;

    &__text-container {
      border: none;
    }

    &__main-header-style {
      @include fontBold;
      color:$primary;
      line-height: 3.5rem;
    }
    &__sub-header-style {
      padding-bottom: 1rem;
      color:$secondary;
      @include subfontThin;
    }

    &__button-container {
      padding: 1rem 0 1rem 0;
    }

    &__image-container {
      display: flex;
      width: 100%;
      align-items: center;
    }
    &__carousel-heading {
      text-align: center;
      margin-top: 1rem !important;
      color:$primary;
      @include subfontBold;
    }

    &__images {
      background-size: cover;
      width: 320px;
      max-width: 320px;
      height: 320px;
      margin: 1rem;
      border-radius: 0.5rem;
    }
  }
}
